@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  font-family: "Ubuntu";
  background-color: #151a24;
}

h1 {
  font-weight: bold;
  color: #0d6efd;
}

h2 {
  color: #0d6efd;
}

h3 {
  color: #0d6efd;
}

h6 {
  color: #b9b9b9;
}

.fishhub-blue {
  color: #0d6efd;
}

.fishhub-light-blue {
  color: #d3e3fc;
}

.fishhub-salmon {
  color: #ffccbc;
}

.fishhub-green {
  color: #00887a;
}
