@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

h1 {
  font-weight: bold;
}

h6 {
  color: #b9b9b9;
}

/* Mobile Phone Responsiveness */
@media screen and (max-width: 360px) {
  h1 {
    font-size: 12px !important;
    line-height: 80%;
    margin-top: 10px;
  }
  h2 {
    font-size: 9px;
    letter-spacing: 1.2px;
  }
  p {
    font-size: 12px;
  }

  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 8px;
  }
  h5 {
    font-size: 11px;
  }
  h6 {
    font-size: 9px;
  }
}
