@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  font-family: "Ubuntu";
}

h1 {
  font-weight: bold;
}

h6 {
  color: #b9b9b9;
}

.fishhub-blue {
  color: #77a6f7;
}

.fishhub-light-blue {
  color: #d3e3fc;
}

.fishhub-salmon {
  color: #ffccbc;
}

.fishhub-green {
  color: #00887a;
}
