.compatibility-container {
  background-color: #151a24;
  padding: 3%;
  text-align: center;
}

.profile-row {
  margin-top: 2vh;
}

.profile-col {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
