.compatibility-container {
  width: 100%;
  height: 100%;
  background-color: #d3e3fc;
  padding: 3%;
  text-align: center;
}

.profile-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.profile-col {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
