.forum-box {
  background-color: #151a24;
  padding: 2%;
}

h3 {
  color: #dcdcdc;
}

.headings-row {
  color: #dcdcdc;
}

.content-row {
  height: 75%;
}

.top-mid-col {
  text-align: center;
}

.top-right-col {
  text-align: right;
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  color: #0d6efd;
  background: #dcdcdc;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #0d6efd;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
