.login-box {
  background-color: #1a1a1b;
  width: 50vw;
  height: 58vh;
  border-radius: 20px;
  border: 2px solid #dcdcdc;
  padding: 5%;
}

.form-check {
  color: #b9b9b9;
}

.form-control {
  height: 5vh;
}

.login-form {
  height: 80vh;
}

.btn {
  background-color: #0d6efd;
  border: 0px;
}

.btn:hover {
  background-color: #0d6efd;
}

.signup-link {
  margin-top: 10px;
  text-decoration: none;
}

.login-row {
  margin-top: 5%;
}

.form-row {
  margin-top: 3%;
}

/* Mobile Phone Responsiveness */
@media screen and (max-width: 750px) {
  .login-box {
    width: 80vw;
    height: 70vh;
  }
}
/* Mobile Phone Responsiveness */
@media screen and (max-height: 700px) {
  .login-box {
    overflow-y: scroll;
  }
}
