.navbar {
  background-color: white;
  height: 5vh;
}

.sidebar-item {
  margin-left: 2rem;
  font-size: 1.5rem;
  background-color: white;
}

.sidebar {
  background-color: white;
}

.welcome {
  margin: 5%;
}
