.navbar {
  background-color: white;
  height: 5vh;
}

.sidebar-item {
  margin-left: 2rem;
  font-size: 1.5rem;
  background: none;
}

.sidebar {
  background-color: white;
  width: 30vw;
}

.logo {
  height: 3vh;
}
