.navbar {
  background-color: #1a1a1b;
  border-bottom: 0.2rem solid #0d6efd;
  height: 100%;
  padding: 2%;
  margin: 0;
}

.sidebar-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  list-style: none;
  height: 10%;
  padding: 0;
  margin: 0;
  padding-left: 8%;
}

.nav-row {
  width: 100%;
}

.sidebar-item a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 15px;
}

.sidebar-item:hover {
  text-decoration: none;
  background-color: #0d6efd;
  border-radius: 5%;
  padding: 5%;
}

.sidebar {
  background-color: #1a1a1b;
  width: 30vw;
  padding: 0;
}

.sidebar-body {
  padding: 0;
}

.icon {
  cursor: pointer;
  color: #0d6efd;
}

.icon:hover {
  background-color: #d3e3fc;
}

.icon-close {
  cursor: pointer;
  color: white;
  background: none;
}

.logo {
  height: 3vh;
}

.sidebar-logo {
  display: block;
  margin: auto;
  height: 3vh;
  margin-top: 15%;
  margin-bottom: 5%;
}

.icon-span {
  margin-left: 5%;
}

/* Mobile Phone Responsiveness */
@media screen and (max-width: 1400px) {
  .sidebar {
    width: 40vw;
  }
}

/* Mobile Phone Responsiveness */
@media screen and (max-width: 1100px) {
  .sidebar {
    width: 45vw;
  }
}

/* Mobile Phone Responsiveness */
@media screen and (max-width: 900px) {
  .sidebar {
    width: 100vw;
  }
}
