.searchBox {
  width: 90%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 5vh;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #00b4cc;
}

.searchBox:focus {
  color: #00b4cc;
}

.searchButton {
  width: 10%;
  height: 5vh;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.results-box {
  background-color: white;
  width: 60%;
  height: 70%;
  border: 1px black;
}

.search-bar {
  width: 100%;
}
