.results-page {
  background-color: #d3e3fc;
  width: 100%;
  height: 100%;
  padding: 5%;
}

.search-container {
  padding: 10%;
  background-color: #d3e3fc;
  height: 100%;
}

.fishhub-search {
  width: 100%;
  text-align: center;
}

.logo-main-text {
  color: white;
  font-size: 6em;
  text-shadow: 1px 1px 1px #696969;
  font-weight: 300;
}

.logo-sub-text {
  color: white;
  font-size: 2.5em;
  text-shadow: 1px 1px 1px #696969;
  font-style: italic;
  padding-bottom: 5%;
}

.btn-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn {
  border-radius: 10px;
  margin-top: 10%;
  width: 70%;
  height: 50%;
}

.search-btn:hover {
  box-shadow: 1px 1px 1px #696969;
}

.logo-icon {
  filter: drop-shadow(1px 1px 1px #696969);
}

/* Mobile Phone Responsiveness */
@media screen and (max-width: 1200px) {
  .logo-main-text {
    font-size: 4em;
  }

  .logo-sub-text {
    font-size: 2em;
  }
}

/* Mobile Phone Responsiveness */
@media screen and (max-width: 780px) {
  .logo-main-text {
    font-size: 2.5em;
  }

  .logo-sub-text {
    font-size: 1em;
  }
}

/* Mobile Phone Responsiveness */
@media screen and (max-width: 400px) {
  .logo-main-text {
    font-size: 1.5em;
  }

  .logo-sub-text {
    font-size: 1em;
  }
}
