.searchButton {
  width: 10%;
  height: 5vh;
  border: 1px solid #77a6f7;
  background: #77a6f7;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.results-box {
  background-color: white;
  width: 60%;
  height: 70%;
  border: 1px black;
}

.search-row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-row {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.btn-row {
  display: flex;
  justify-content: center;
}

.btn-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn {
  border-radius: 15px;
  margin-top: 4vh;
  width: 60%;
  height: 50%;
}

.search-btn:hover {
  box-shadow: 1px 1px 1px #696969;
}

.search-logo {
  width: 60%;
  margin-bottom: 10%;
}
