.signup-box {
  background-color: #1a1a1b;
  width: 50vw;
  height: 80vh;
  border-radius: 20px;
  border: 2px solid #dcdcdc;
  padding: 5%;
}

.btn {
  margin-bottom: 3%;
}

.login-link {
  text-decoration: none;
}

/* Mobile Phone Responsiveness */
@media screen and (max-width: 900px) {
  .signup-box {
    width: 90vw;
    height: 80vh;
  }
}

/* Mobile Phone Responsiveness */
@media screen and (max-height: 700px) {
  .signup-box {
    overflow-y: scroll;
  }
}
